# Speed violations in Chicago

In this lab session, we quickly wrangle a dataset and then move to Tableau.

We import the pandas library and enable multiple outputs.

In [12]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

We have a look at the folder (adapt this to your OS)

In [13]:
!ls *.csv

Speed_Camera_Violations.csv

We load the data

In [23]:
data = pd.read_csv('Speed_Camera_Violations.csv')

In [24]:
data.head()
data.tail()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,7738 S WESTERN,CHI065,07/08/2014,65,NaN,NaN,NaN,NaN,NaN
1,1111 N HUMBOLDT,CHI010,07/16/2014,56,NaN,NaN,NaN,NaN,NaN
2,5520 S WESTERN,CHI069,07/08/2014,10,NaN,NaN,NaN,NaN,NaN
3,1111 N HUMBOLDT,CHI010,07/26/2014,101,NaN,NaN,NaN,NaN,NaN
4,1111 N HUMBOLDT,CHI010,07/27/2014,92,NaN,NaN,NaN,NaN,NaN

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
105107,7518 S VINCENNES,CHI063,03/23/2017,9,1.175649e+06,1.855003e+06,41.757497,-87.631833,"(41.75749703994495, -87.63183332832696)"
105108,2900 W OGDEN,CHI021,03/23/2017,118,1.157136e+06,1.892362e+06,41.860408,-87.698672,"(41.86040786445197, -87.69867209877323)"
105109,515 S CENTRAL AVE,CHI057,03/23/2017,2,1.139183e+06,1.896945e+06,41.873329,-87.764460,"(41.873329240103914, -87.76446041521123)"
105110,4446 N BROADWAY,CHI097,03/23/2017,3,1.168459e+06,1.929792e+06,41.962881,-87.656024,"(41.96288063517309, -87.6560244499908)"
105111,2712 W IRVING PARK,CHI080,03/23/2017,15,1.157448e+06,1.926505e+06,41.954093,-87.696597,"(41.954092657149786, -87.6965965016668)"

We clean the data.

In [29]:
data = data.dropna(how='any')

We select the columns that we want.

In [30]:
data = data[['ADDRESS','VIOLATION DATE','VIOLATIONS','LATITUDE','LONGITUDE']]

In [31]:
data.head()

                ADDRESS VIOLATION DATE  VIOLATIONS   LATITUDE  LONGITUDE
148    2912 W ROOSEVELT     10/16/2014          25  41.866585 -87.698962
149       346 W 76th ST     10/16/2014           4  41.756374 -87.633817
150   11153 S VINCENNES     10/16/2014           6  41.690702 -87.664122
151  5454 W IRVING PARK     10/16/2014          82  41.953330 -87.764267
152    5446 W FULLERTON     10/16/2014          38  41.924128 -87.762994

We write a file with the clean data.

In [32]:
data.to_csv('tableau.csv')